RewriteEngine on

DirectoryIndex y-shop.php

RewriteRule ^(.+)-([0-9]+).css$ $1.php [QSA,L]
RewriteRule ^(.+)-([0-9]+).js$ $1.php [QSA,L]

Options -Indexes

#Panel administatora
RewriteRule ^panel/admin/y-kom.html /y-kom/y-panel.php [L]

#Sklep
RewriteRule ^([^/]*)/([^/]*)\.html$ /y-kom/y-shop.php?type=$1&id=$2 [L]

#Funkcje
RewriteRule ^([^/]*)\.html$ /y-kom/y-functions/app/$1.php [L]

ErrorDocument 403 /y-kom/y-error.html
ErrorDocument 404 /y-kom/y-error.html
ErrorDocument 500 /y-kom/y-error.html

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/css application/x-javascript text/plain text/xml image/x-icon text/javascript
</IfModule>